Repository kazettique/nuxt-starter-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, vue-tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,}": [
      "eslint --fix"
  ],
  "*.{jsx,tsx,vue}": [
      "eslint --fix",
      "stylelint --fix",
      "vue-tsc --noEmit"
  ],
  "*.{html,scss,css}": [
      "stylelint --fix"
  ],
  "*.md": [
      "prettier --write"
  ]
}

update stylelint
  .stylelintrc.js
Due: eslint --fix

husky
  README.md
  app.vue
  components/Example.vue
  components/Hello.vue
  nuxt.config.ts
Due: eslint --fix, stylelint --fix, vue-tsc --noEmit, prettier --write

add nuxt directory
  .nuxtignore
  composables/.gitkeep
  content/.gitkeep
  layouts/.gitkeep
  middleware/.gitkeep
  plugins/.gitkeep
  public/.gitkeep
  server/.gitkeep
  utils/.gitkeep
Due: none

add pinia
  app.vue
  components/Hello.vue
  components/TestPinia.vue
  components/TestPinia2.vue
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/.gitkeep
  stores/counter.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix, vue-tsc --noEmit

update pinia
  .eslintrc.js
  components/TestPinia.vue
  components/TestPinia2.vue
  package.json
  stores/counter.ts
Due: eslint --fix, stylelint --fix, vue-tsc --noEmit

add lazy component
  components/LazyComp.vue
Due: eslint --fix, stylelint --fix, vue-tsc --noEmit

store test
  .prettierrc
  .vscode/settings.json
  app.vue
  components/Menu.vue
  components/TestPinia2.vue
  composables/useCounterStore2.ts
  middleware/auth.global.ts
  nuxt.config.ts
  pages/dashboard.vue
  pages/hello/world.vue
  pages/home.vue
  stores/counter.ts
Due: eslint --fix, stylelint --fix, vue-tsc --noEmit
